*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header__shell {
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header__layout .site-header__nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.5rem;
}

.site-header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header-nav-item {
    display: flex;
    align-items: center;
}

.site-header-nav-links {
    text-decoration: none;
    color: #434d5e;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
}

.site-header-nav-links:hover {
    color: #8200db;
}

.site-header__nav button {
    border: none;
    background-color: #8200db;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    padding-inline: 1.2rem;
    border-radius: 0.5rem;
}

.site-header__nav button:hover {
    background-color: #8200db;
    filter: brightness(70%);
}

header img {
    max-height: 4rem;
    width: auto;
}

.limit {
    max-width: 81.25rem;
    margin-inline: auto;
    padding-inline: 2rem;
    width: 100%;
}

.hero__shell {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero-img.jpg') center/cover no-repeat;
    color: white;
    padding-block: 5.5rem;
    height: max-content;
    width: 100%;
}

.hero__layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-tagline {
    color: #FFB800;
    font-weight: 600;
    margin-inline-start: 0.5rem;
    padding: 0;
    margin: 0;
}

.hero__layout h1 {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.hero__layout h2 {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding-block: 1rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero__layout button {
    border: none;
    background-color: #FFB800;
    color: #2f1828;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.3rem;
    border-radius: 0.8rem;
}

.hero__layout button:hover {
    filter: brightness(80%);
}

.hero__layout .learn-more {
    background-color: #8200db;
    color: white;
}

.article__shell {
    height: fit-content;
    background-color: white;
}

.article__layout {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.article__layout h1 {
    font-size: 4rem;
}

.edu-stats-heading {
    color: black;
}

.edu-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.edu-stats-items {
    flex: 0 1 20rem;
    min-width: 10rem;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edu-stats-items h1 {
    color: #8200db;
    font-size: 3.5rem;
    font-weight: 800;
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 0.5rem;
}

.edu-stats-items p {
    color: #434d5e;
    font-size: 1.2rem;
    padding: 0rem;
    margin: 0rem;
    max-width: 20rem;
    overflow-wrap: break-word;
}

.edu-crisis-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.edu-crisis-container img {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.edu-crisis-text {
    flex: 1 1 50%;
}

.edu-quote-container {
    background-color: whitesmoke;
    padding-inline: 10rem;
    padding-block: 3rem;
    border-radius: 1rem;
}

.edu-quote-container h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
}

.why-we-exist__shell {
    background-color: whitesmoke;
}

.why-we-exist__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem; 
    max-width: 81.25rem;
    margin-inline: auto;
    margin-top: 5rem;
    padding-inline: 1rem; 
    width: 100%;
    align-items: flex-start;
}

.why-we-exist-header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #2f1828; 
}

.why-we-exist-p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 50rem;
}

.mission-and-vision {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 5rem;
    width: 100%;
}

.mission-and-vision-container {
    flex: 1;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.mission-and-vision-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
}

.mav-text {
    padding: 2rem;
}

.mav-text h3 {
    font-size: 1.8rem;
    color: #2f1828;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.mav-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #434d5e;
}

.commitment_shell {
    background-color: #8200db;
    padding: 4rem;
}

.commitment_layout {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 7rem;
    padding-block: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

.get-involved__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    margin-top: 2rem;
}

.get-involved-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10rem;
    text-align: center;
}

.get-involved-tagline h1 {
    font-size: 4rem;
    margin: 0rem;
}
.get-involved-tagline p {
    color: #434d5e;
    line-height: 1.5;
    font-size: 1.7rem;
}

.get-involved__shell {
    padding-block: 8rem;
    background-color: #fbfbfb;
}

.get-involved__layout {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.get-involved-tagline h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.get-involved-tagline p {
    font-size: 1.2rem;
    max-width: 45rem;
    color: #434d5e;
}

.get-involved-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
}

.get-involved-card {
    flex: 1;
    background: white;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0,0,0,0.03);
    transition: transform 0.3s ease;
}

.get-involved-card:hover {
    transform: translateY(-10px);
}

.get-involved-card h2 {
    font-size: 2rem;
    margin-block: 1.5rem 1rem;
}

.get-involved-card p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #434d5e;
    margin-bottom: 2rem;
    flex-grow: 1;
}

.gic-btn {
    background-color: #8200db;
    color: white;
    border: none;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

.gic-btn:hover {
    filter: brightness(90%);
}